#contents {
  padding: 10px 25px;
  max-width: 1024px;

  p {
    text-indent: 35px;
  }
}

.entry-title {
  &:after {
    content: '';
    display: block;
    margin-top: 10px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #fff;
  }
}