@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-size: 100%;
  color: #444;
  background-color: #f9f9f9;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 100;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #00a0d2;
}